#about *::selection {
    background-color: var(--dark-90);
    color: var(--light);
}

.about p {
    max-width: 70%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .about p {
        max-width: 100%;
    }
}