/* Selection */
#credits *::selection {
    background-color: var(--dark-90);
    color: var(--light);
}

/* Accent Selection */
#credits .fc3-credits ::selection {
    background-color: var(--accent-fc3);
    color: var(--light);
}

#credits .fc4-credits ::selection {
    background-color: var(--accent-fc4);
    color: var(--light);
}

#credits .fc5-credits ::selection {
    background-color: var(--accent-fc5);
    color: var(--dark);
}

#credits .fc6-credits ::selection {
    background-color: var(--accent-fc6);
    color: var(--light);
}

.credits {
    padding: 10rem 4rem 2rem;

}

.credits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 2rem;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.credits h4 {
    margin-bottom: 1rem;
}

.credits p {
    margin-bottom: 1rem;
}


.credits-grid ul li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.8rem;
    list-style: none;
}

.credits-grid ul li::before {
    content: "•";
    color: inherit;
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.credits-grid a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.credits-grid a:hover {
    text-decoration: underline;
    /* optional für leichte Interaktion */
}

/* Accent Colors h3 */
.fc3-credits>h3 {
    color: var(--accent-fc3);
}

.fc4-credits>h3 {
    color: var(--accent-fc4);
}

.fc5-credits>h3 {
    color: var(--accent-fc5);
}

.fc6-credits>h3 {
    color: var(--accent-fc6);
}

/* Accent Colors ul li */
.fc3-credits ul li::before {
    color: var(--accent-fc3);
}

.fc4-credits ul li::before {
    color: var(--accent-fc4);
}

.fc5-credits ul li::before {
    color: var(--accent-fc5);
}

.fc6-credits ul li::before {
    color: var(--accent-fc6);
}

/* Mobile */
@media (max-width: 1351px) {
    .credits {
        padding: 15rem 2rem 2rem;
    }
}

@media (max-width: 1024px) {
    .credits-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .credits-grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 480px;
        margin: 0 auto;
        justify-items: center;
        padding: 0 2rem;
    }

    .credits-grid section {
        width: 100%;
        max-width: 480px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}


/* Temporär sichtbare Grenzen setzen */
.fc3-credits {
    border: 2px solid red;
}

.fc4-credits {
    border: 2px solid green;
}

.fc5-credits {
    border: 2px solid blue;
}

.fc6-credits {
    border: 2px solid orange;
}