.credits {
    padding: 10rem 4rem 2rem;
}

.credits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 2rem;
    width: 100%;
}

.credits h4 {
    margin-bottom: 1rem;
}

.credits-grid ul {
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
}


.fc3-credits {
    color: var(--accent-fc3);
}

.fc4-credits {
    color: var(--accent-fc4);
}

.fc5-credits {
    color: var(--accent-fc5);
}

.fc6-credits {
    color: var(--accent-fc6);
}

@media (max-width: 1351px) {
    .credits {
        padding: 15rem 4rem 2rem;
    }
}

@media (max-width: 1351px) {
    .credits-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}