#footer *::selection {
    background-color: var(--light-90);
    color: var(--dark);
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--dark-80);
    color: var(--light);
}

.credits-link a {
    color: var(--light);
    text-decoration: underline;
    font-size: 1.2rem;
}