.hero-carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
    color: #ecebf3;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    font-weight: 400;
}