@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --bg-dark: #353535;
  --bg-light: #ecebf3;
  --text-dark: #353535;
  --text-light: #ecebf3;
  --font-primary: 'Inter', sans-serif;

  /* Akzentfarben */
  --accent-fc3: #364b62;
  --accent-fc4: #db3366;
  --accent-fc5: #a7cc99;
  --accent-fc6: #dc131e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-light);
  color: var(--text-dark);
  font-family: var(--font-primary);
  line-height: 1.6;
}

section {
  padding: 4rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}